<div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog"
     aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h5>{{title}}</h5>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>