<div class="row row-same-height padding-40">
    <div class="col-sm-10">
        <div class="" ng-repeat="type in menu.types">
            <div class="row row-same-height">
                <div class="col-sm-1">
                    {{$index + 1}}
                </div>
                <div class="col-sm-3">
                    <div class="form-group form-group-default">
                        <label>Type (Lunch...)</label>
                        <input ng-disabled="type.__unknown" type="text" class="form-control"
                               ng-model="type.name">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group form-group-default">
                        <label for="{{$index}}-description">Description</label>
                        <textarea ng-disabled="type.__unknown" id="{{$index}}-description" rows="5" class="form-control"
                                  ng-model="type.description"></textarea>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="checkbox check-primary">
                        <input type="checkbox" ng-model="type.__unknown" ng-change="typeUnknownChanged(type)"
                               id="{{$index}}-unknown">
                        <label for="{{$index}}-unknown">Unknown</label>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button ng-hide="!type.__enabled" ng-click="goToType(type)"
                            ng-class="{'btn-success': type.__completed, 'btn-complete': !type.__completed}"
                            class="btn btn-cons btn-animated from-left fa fa-truck">
                        <span>Go</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="pager wizard">
            <!-- Done Button-->
            <div class="next m-b-15 clearfix">
                <button type="button" ng-click="doneWithTypes()"
                        class="btn btn-primary btn-cons btn-animated
                                    from-left fa fa-check pull-right">
                    <span>Done</span>
                </button>
            </div>
            <!-- end: Done button-->

            <!-- begin: previous button-->
            <div class="previous disabled m-b-15 clearfix">
                <button type="button" class="btn btn-default btn-cons pull-right">
                    <span>Previous</span>
                </button>
            </div>
            <!-- end: previous button-->

            <!-- begin: Add more -->
            <div class="m-b-15 clearfix">
                <button type="button" ng-click="addMenuTypes()"
                        class="btn btn-info btn-cons btn-animated from-left fa fa-plus pull-right">
                    <span>Add More</span>
                </button>
            </div>
            <!-- end: add more-->
        </div>
    </div>
</div>
